/* Write your CSS here */
.app-container {
  background-color: #1e293b;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #f0bb03;
  font-family: 'Bree Serif';
  font-size: 40px;
  font-weight: 800;
}

.description {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 30px;
  font-weight: 600;
}
.subscribe-button {
  background-color: #ffffff;
  color: #1e293b;
  border-radius: 6px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 14px;
  padding-left: 14px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  font-family: 'Bree Serif';
  text-align: center;
}
